<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>
        {{ get('title', 'xxx') }}
    </title>
</head>
<body class="w-full h-screen overflow-hidden">

    <nav class="flex items-center w-full h-12 
    text-neutral-100 bg-red-800 px-8">
        <a href="/">Home</a>

        <div class="mx-auto">
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
        </div>

        <button class="">
            X
        </button>

    </nav>