<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <script src="/mixhtml.js" defer></script>
    <title>
        {{ get('title', 'xxx') }}
    </title>
</head>
<body class="w-full h-screen bg-neutral-300 overflow-hidden overflow-y-scroll">

    <nav class="flex items-center w-full h-16 
    text-neutral-100 bg-neutral-800 px-8">
        <a href="/">Home</a>

        <div class="mx-auto flex gap-4">
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <a href="/items">Items</a>
            <a href="/users">Users</a>
        </div>

        <button class="">
            X
        </button>

    </nav>