% import x
% include("_header.html", title="Login")


    <h1>
        Login
    </h1>
    

    <div id="error"></div>

    <form id="frm">

        <input name="user_email" type="text" value="a@a.com" placeholder="email"
        mix-check="{{x.USER_EMAIL_REGEX}}">


        <input name="user_password" type="text" placeholder="password" 
        mix-check="{{x.USER_PASSWORD_REGEX}}">



        <button mix-post="/login" mix-data="#frm" mix-wait="#loading">
            Login
        </button>
        <button id="loading" class="mix-hidden">
            Loading...
        </button>
    </form>


% include("_footer.html")