% include("_header.html", title="Users")


<div id="users"
class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 
gap-4 px-4 pt-8"
>

    % for user in users:
        <div
        class="relative flex flex-col items-center justify-center 
        bg-neutral-200 border border-gray-400 h-24 rounded-md"
        >
            <p class="">
                {{ user["user_name"] }}
            </p>
            <a href="/delete-user/{{user['user_pk']}}" class="absolute bottom-1 right-1">
                🗑️
            </a>
        </div>
    % end


    
</div>


% include("_footer.html")

